@import "includes/style";


main#login
{
    margin-bottom: 188px;
    .wrapper
    {
        text-align: center;
        margin-top: 100px;
        max-width: 618px;
    }

    .logo
    {
        margin-bottom: 80px;
    }
    form
    {
        display: inline-block;
        width: 315px;
        text-align: left;

        label
        {
            display: none;
        }

        input
        {
            border:none;
            outline: none;
            background:#f3f3f3;
            padding: 0;
            margin: 10px 0;

        }

        input[type=text]
        {
            width: 271px;
            padding: 7px 0 7px ;
        }
        input[type=password]
        {
            width: 271px;
            padding: 7px 0;
        }

        div.identifiant
        {
            position: relative;
        }

        div.mdp
        {
            position: relative;
        }

        span.info
        {
            display: inline-block;
            width: 30px;
            height: 30px;
            position: absolute;
            right: 0;
            top: 14px;
            background:url(../img/info.png) transparent no-repeat;
            cursor: pointer;
        }
        span.info-content
        {
            display: none;
            position: absolute;
            width: 300px;
            top: -87px;
            right: -143px;
            background:#313131;
            font-family: "citroenlight";
            font-size: 15px;
            padding: 9px 16px;
            color: white;
            z-index: 1;

            &:after
            {
                position: absolute;
                width: 27px;
                height: 27px;
                display: block;
                content: url("../img/info-popup-bg.png");
                z-index: 0;
                top: 53px;
                left: 162px;
            }
        }

        button
        {
            margin: 6px 0 0;
            width: 271px;
            padding: 8px 0;

        }

        .remember
        {
            margin-top: 18px;
            label
            {
                display: inline-block;
                font-family: "citroenlight";
                font-family: 14px;
                color: #737373;
            }

            .picker
            {
                float: initial;
            }
        }
    }
}
main#home
{
    // margin-top: 8px;
    
    .slider
    {
        background:$third_color;
        overflow: hidden;
        
        .wrapper
        {
            width: 920px;
            .banner
            {
                max-height: 165px;
                position: relative;

                ul
                {
                    li
                    {
                        float: left;
                        position: relative;
                        z-index: 0;

                        img
                        {
                            // float: right;
                            position: absolute;
                            right: 0;
                            top:0;
                            z-index: -1;
                        }

                        h3
                        {
                            display: block;
                            font-size: 30px;
                            line-height: 30px;
                            margin-top: 15px;
                            &:before
                            {
                                margin-top: 10px;
                            }
                        }
                        span
                        {
                            display: block;
                            margin-top: 19px;
                            font-family: "citroenlight";
                            font-size: 20px;
                        }
                        a.btn
                        {
                            margin-top: 21px;
                            margin-bottom: 23px;
                            background:transparent;
                            border: 2px solid $first-color;
                            font-family: "citroenlight";
                            font-style: 15px;
                            color: $first-color;
                            width: 197px;
                            height: 30px;
                            line-height: 30px;
                            padding-left: 20px;
                            text-transform: uppercase;
                            z-index: 1;
                            @include border-radius(0);
                        }
                    }
                }
                ol
                {
                    position: absolute;
                    bottom: -5px;
                    padding: 0;
                    left: 50%;
                    li
                    {
                        display: inline-block;
                        // visibility: hidden;
                        content: none;
                        // background:red;
                        background-image: url(../img/slider/position.png);
                        width: 16px;
                        height: 16px;
                        text-indent: -9999px;
                        cursor: pointer;

                        &.active
                        {
                            background-image: url(../img/slider/position-active.png);
                        }
                    }
                }
            }
        }
    }

    .content
    {
        width: 920px;
        margin-top: 36px;

        .left
        {
            width: 525px;
            float: left;
            .left-content
            {
                border: 1px solid #d7d7d7;
                margin-top: 25px;
                @include border-radius(4px 0 0 0);
                // padding-bottom: 4px;
                .selectionne
                {
                    color: $second_color;
                    // margin-top: 25px;

                    .date
                    {
                        border: 1px solid $second_color;
                        width: auto;
                        display: inline-block;
                        position: relative;
                        @include border-radius(4px);
                        span
                        {
                            margin: 0;
                            padding: 0;
                        }
                        .day
                        {
                            font-family: "citroenbold";
                            font-size: 22px;
                            line-height: 56px;
                            height: 56px;
                            width: 66px;
                            text-align: center;
                            display: inline-block;
        
                        }
                        .month
                        {
                            font-family: "citroenregular";
                            font-size: 22px;
                            color: white;
                            background:$second_color;
                            display: inline-block;
                            width: 244px;
                            height: 58px;
                            line-height: 58px;
                            text-transform: uppercase;
                            padding-left: 20px;
                        }
                        .year
                        {
                            display: inline-block;
                            position: absolute;
                            font-family: "citroenregular";
                            color:white;
                            font-size: 10px;
                            top:23px;
                            right: 3px;

                            @include transform( rotate(-90deg) );
                        }
                    }
                    a.agenda.today
                    {
                        display: inline-block;
                        float: right;
                        background:transparent;
                        color: $second_color;
                        margin: 25px 10px 0 0;
                        border: none;
                        font-family: "citroenregular";
                        font-size: 15px;
                        text-decoration: underline;

                        &:hover
                        {
                            color: $second_color_hover;
                            // font-weight: 600;
                        }

                        // @include border-radius(4px);
                    }
                }
            }
            a
            {
                margin-right: 20px;

                &:first-child
                {
                    margin-right: 0;
                }
            }
        }

        .right
        {
            float: left;

            .clndr
            {
                width: 372px;
                text-align: center;
                margin-left: 23px;
                margin-top: 25px;
                .clndr-controls
                {
                    font-family: "citroenregular";
                    font-size: 22px;
                    color: white;
                    text-transform: uppercase;
                    background:#5b2645;
                    position: relative;
                    padding: 14px 0;
                    
                    .month
                    {
                        width: 304px;
                        text-align: center;
                        display: inline-block;
                    }
                    .clndr-control-button
                    {
                        display: inline-block;
                        cursor: pointer;
                        span
                        {
                            display: inline-block;
                        }
                    }
                }

                table.clndr-table
                {
                    width: 100%;

                    thead
                    {
                        font-family: "citroenregular";
                        font-size: 14px;
                        color: white;
                        tr
                        {
                            td
                            {
                                padding: 20px 0;
                                background:#a58899;
                            }
                        }
                    }
                    tbody
                    {
                        box-sizing: border-box;
                        border: 1px solid #d7d7d7;
                        border-top: 0;
                        font-family: Arial;
                        font-size:15px;
                        color: #4b4a4d;
                        padding: 30px;

                        tr
                        {
                            td
                            {
                                width: 51px;
                                height: 52px;
                                cursor: pointer;

                                &.adjacent-month
                                {
                                    color: rgba(180,181,178, 0.5);
                                }

                                &.event
                                {
                                    color: white;
                                    background:url(../img/calendar-event.png) no-repeat scroll 10px 8px transparent;

                                    &.past
                                    {
                                        background:url(../img/calendar-past-event.png) no-repeat scroll 10px 8px transparent;
                                    }

                                    &.adjacent-month
                                    {
                                        background:url(../img/calendar-event-adjacent-month.png) no-repeat scroll 10px 8px transparent;
                                    }
                                }
                                &.today
                                {
                                    color: white;
                                    background:url(../img/calendar-today.png) no-repeat scroll 10px 8px transparent;
                                }
                            }

                            &:first-child
                            {
                                td
                                {
                                    padding-top: 10px;

                                    &.today
                                    {
                                        color: white;
                                        background:url(../img/calendar-today.png) no-repeat scroll 10px 18px transparent;
                                    }

                                    &.event
                                    {
                                        color: white;
                                        background:url(../img/calendar-event.png) no-repeat scroll 10px 18px transparent;
                                        
                                        &.adjacent-month
                                        {
                                            background:url(../img/calendar-event-adjacent-month.png) no-repeat scroll 10px 18px transparent;
                                        }
                                    }

                                }
                            }

                            &:last-child
                            {
                                td
                                {
                                    padding-bottom: 10px;
                                }
                            }
                        }
                    }
                }

                .my-cal
                {
                    text-align: left;
                    display: block;
                    padding: 8px 10px;
                    margin: 10px 0 15px;
                    background:$second_color;

                    &:hover
                    {
                        background:$second_color_hover;
                    }
                    a
                    {
                        display: inline-block;
                        font-family: "citroenregular";
                        font-size: 15px;
                        width: 100%;
                        height: 100%;
                        position: relative;

                        &:before
                        {
                            content: url("../img/calendar-link-my-cal.png");
                            display: inline-block;
                            width: 7px;
                            height: 13px;
                            margin-right: 20px;
                            position: relative;
                            top:2px;
                        }
                    }
                }

                .clndr-today-button
                {
                    font-size: 13px;
                    font-family: Arial;
                    color: #797979;
                    text-align: left;
                    cursor: pointer;

                    &:before
                    {
                        content: url("../img/calendar-today-btn.png");
                        width: 14px;
                        height: 14px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
.home-prefooter
{
    min-height: 500px;
    background: $footer_bg;
    padding-top: 42px;
    text-transform: uppercase;
    margin-top: 40px;

    .wrapper
    {
        width: 922px;
        position: relative;

        h3
        {
            position: relative;
            letter-spacing: 3px;

            &:before
            {
                margin-top: 20px;
            }
        }


        ul
        {
            margin-top: 30px;
            // margin-left: 15px;

            li
            {
                font-family: "citroenlight";
                font-size: 17px;
                list-style: none;
                color:#302b28;
                width: 400px;
                border-bottom: 1px solid #f0f0f0;

                a
                {
                    padding: 19px 0 19px 15px;
                    display: inline-block;
                    width: 100%;
                    height: 100%;

                    &:before
                    {
                        content: url(../img/footer-li.png);
                        margin-right: 20px;
                    }

                    &:hover
                    {
                        background:#ececec;
                    }
                }
            }
        }

        .left
        {
            float: left;
        }
        .right
        {
            float: right;
        }
    }

    a.btn
    {
        font-family: "citroenregular";
        font-size: 15px;
        line-height: 15px;
        padding: 10px 25px;
        margin-top: 24px;
        text-transform: initial;
        
        &:hover, &:active
        {
            background:$first-color - 50;
        }
    }
}

main#rubrique
{
    margin-top: 15px;

    section.wrapper
    {
        clear: both;
        font-family: "citroenregular";
        font-size: 22px;
        line-height: 22px;
        text-transform: uppercase;
        color:white;

        div.article
        {
            @each $div in 
            (
                one $first_color_hover,
                two $first_color_hover + 20,
                three $first_color_hover + 40,
                four $first_color_hover + 60,
                five $first_color_hover + 80,
                six $first_color_hover + 100,
                seven $first_color_hover + 120,
                eight $first_color_hover + 140,
                nine $first_color_hover + 160,
                ten $first_color_hover + 180,
            )
            {
                .#{nth($div, 1)}
                {
                    background: #{nth($div,2)}
                }
            }
            a
            {
                padding: 27px;
                margin: 8px 0;
                height: 76px;
                background: #first_color_hover;
                width: 100%;
                height: 100%;
                display: inline-block;
                @include border-radius(5px);
                box-sizing: border-box;
                position: relative;

                &:after
                {
                    display: inline-block;
                    position: absolute;
                    width: 15;
                    height: 29px;
                    content: url('../img/page_rubrique_puce.png');
                    right: 30px;
                    // top: 0;
                }
            }
        }
    }
}
main#agenda
{
    .left
    {
        box-sizing: border-box;
        width: 279px;
        font-family: "citroenregular";
        text-transform: uppercase;
        text-align: center;
        margin: 30px 0 0 0;
        float: left;

        .left-content
        {
            margin-bottom: 30px;
            .selectionne
            {
                span, div
                {
                    display: block;
                    box-sizing: border-box;
                }
                .day-word
                {
                    height: 95px;
                    background:$second_color;
                    // display: block;
                    color:white;
                    font-size: 40px;
                    padding-top: 20px;
                }
                .date
                {
                    border: 1px solid #d2d2d2;
                    border-top: none;
                    height: 276px;

                    .day
                    {
                        font-size: 129px;
                        line-height: 95px;
                        color: $second_color;
                        padding-top: 35px;
                    }
                    .month
                    {
                        font-size: 62px;
                        line-height: 62px;
                        color: $second_color;
                        padding-top: 10px;
                    }
                    .year
                    {
                        font-size: 14px;
                        line-height: 14px;
                        color: $second_color;
                        padding-top: 50px;
                        position: relative;

                        &:after
                        {
                            content: url(../img/agenda-year-puce.png);
                            position: relative;
                            bottom: 2px;
                            left: 5px;
                        }

                        &:before
                        {
                            content: url(../img/agenda-year-puce.png);
                            position: relative;
                            bottom: 2px;
                            right: 5px;
                        }
                    }
                }
            }
        }
        a.btn-style-2
        {
            text-transform: initial;
            padding: 7px 18px;
        }
    }

    .right
    {
        float: right;
        background:#f5f5f5;
        margin-top: 30px;
        width: 617px;

        form
        {
            width: 595px;

            .element
            {
                width: 565px;
            }
        }
    }

    section.cal-month
    {
        width: 100%;

        .clndr
        {
            width: 100%;
            text-align: center;

            .clndr-controls
            {
                font-family: "citroenregular";
                font-size: 22px;
                color: $second_color;
                text-transform: uppercase;
                position: relative;
                .month
                {
                    text-align: center;
                    display: inline-block;
                }
                .clndr-control-button
                {
                    display: inline-block;
                    cursor: pointer;
                    span
                    {
                        display: inline-block;
                    }

                    &.leftalign
                    {
                        float: left;
                    }

                    &.rightalign
                    {
                        float: right;
                    }
                }
            }

            table.clndr-table
            {
                width: 100%;

                thead
                {
                    font-family: "citroenregular";
                    font-size: 15px;
                    color: $second_color;
                    text-transform: lowercase;
                }
                tbody
                {
                    font-family: Arial;
                    font-size: 10px;
                    color: #2e2e2e;
                    text-align: left;

                    td
                    {
                        border: 1px solid #d7d7d7;
                        height: 100px;
                        width: (100% / 7);
                        vertical-align: top;
                        overflow: hidden;

                        &.Sam
                        {
                            background:#fafafa;
                        }

                        &.Dim
                        {
                            background:#fafafa;
                        }

                        &.event
                        {

                            .day-contents
                            {
                                .day
                                {
                                    background:$second_color;
                                    color: white;
                                }
                            }
                        }

                        .day
                        {
                                    box-sizing:border-box;
                                    display: inline-block;
                                    width: 100%;
                                    padding: 8px;
                        }
                    }
                }
            }
        }
    }
}