$first_color: #184254; //dark blue
$first_color_hover:#dc002d; // pinky red
$second_color: #5b2645; // purple
$third_color: #85cddb; // pale blue
$footer_bg: #fafafa; // light grey
$xl-screen: 1280px;