$first_color: #184254; //dark blue
$first_color_hover:#008896; // pale blue
$second_color: #5b2645; // purple
$second_color_hover: #3b0628; // darker purple
$third_color: #85cddb; // pale blue
$footer_bg: #fafafa; // light grey
$xl-screen: 920px;