@import "../vars/vars";
@import "compass";
// @import "compass/reset";
@import "normalize";
@import "susy";
@import "breakpoint";
@import "jquery.mCustomScrollbar";
@import "jquery.fs.picker";



/********************************* FONTS *************************************************/

@include font-face("citroenlight", font-files("citroen_light-webfont.eot", "citroen_light-webfont.woff", "citroen_light-webfont.ttf", "citroen_light-webfont.svg" ));

@include font-face("citroenlight_italic", font-files("citroen_light_italic-webfont.eot", "citroen_light_italic-webfont.woff", "citroen_light_italic-webfont.ttf", "citroen_light_italic-webfont.svg" ));

@include font-face("citroenbold_italic", font-files("citroen_bold_italic-webfont.eot", "citroen_bold_italic-webfont.woff", "citroen_bold_italic-webfont.ttf", "citroen_bold_italic-webfont.svg" ));

@include font-face("citroenbold", font-files("citroen_bold-webfont.eot", "citroen_bold-webfont.woff", "citroen_bold-webfont.ttf", "citroen_bold-webfont.svg" ));

@include font-face("citroenitalic", font-files("citroen_italic-webfont.eot", "citroen_italic-webfont.woff", "citroen_italic-webfont.ttf", "citroen_italic-webfont.svg" ));

@include font-face("citroenregular", font-files("citroen_regular-webfont.eot", "citroen_regular-webfont.woff", "citroen_regular-webfont.ttf", "citroen_regular-webfont.svg" ));



/*********************************End  FONTS *************************************************/

body
{
    color: $first-color;
}

.clear
{
    clear: both;
}

a
{
    text-decoration: none;
    color:inherit;
}

.wrapper
{
    max-width: $xl-screen;
    margin: 0 auto;
    // background:rgba(255,0,0,0.1);
}

.btn
{
    display: inline-block;
    background:$first-color;
    color: white;

}

header, div,nav,ul,li,footer,h1,h2,h3,h4,h5,h6,p
{
    margin:0;
    padding:0;
}
li
{
    list-style: none;
}


h2
{
    color: $second_color;
    position: relative;
    font-family: "citroenbold";
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 5px;
    &:before
    {
        content: url('../img/h3-bg-purple.png');
        position: absolute;
        top:10px;
        left: -2px;
    }
}

h3
{
    font-family: "citroenbold";
    font-size: 22px;
    font-weight: 200;
    margin:0;
    text-transform: uppercase;
    line-height: 22px;

    &:before
    {
        content: url('../img/h3-bg.png');
        position: absolute;
    }
}



#pre-header
{
    min-height: 32px;
    line-height: 12px;

    .wrapper
    {
        max-width: none;
        #accnt
        {
            float: right;
            background: #002d3d;
            min-height: 32px;
            width: 190px;
            position: relative;
            cursor: pointer;

            i
            {
                display: inline-block;
                margin: 5px 10px 0px;
                width: 22px;
                height: 19px;
                background:url(../img/accnt-ico.png) no-repeat;
                float: left;
            }
            span
            {
                display: inline-block;
                line-height: 30px;
                width: 148px;
                float: right;
                // word-wrap:d
            }

            .accnt-option
            {
                position: absolute;
                display: none;
                margin-top: 2px;
                background:red;

                ul
                {
                    margin:0;
                    padding: 9px 0;
                    background:#001f2f;

                    li
                    {
                        margin:0;
                        padding:0;
                        line-height: 22px;
                        display: inline-block;
                        width: 100%;
                        // background:$first-color;

                        i.my-accnt
                        {
                            margin: 6px 5px 0px 15px;
                            background:url(../img/my-accnt.png) no-repeat;
                        }

                        i.disconnect
                        {
                            margin: 6px 5px 0px 15px;
                            background:url(../img/disconnect.png) no-repeat;
                        }
                    }
                }
            }
        }


        background:$first-color;
        color: white;
        text-transform: uppercase;
        font-family: "citroenlight";
        font-size: 12px;
        font-weight: 400;
        ul
        {
            margin:0;
            padding: 0;
            li
            {
                list-style: none;
                display: inline-block;
                padding: 10px 0;
                margin-left: 16px;

                &:first-child
                {
                    margin-left: 25px;
                }
            }
        }
    }
}

header
{
    margin-top: 10px;
    .wrapper
    {
        max-width: 920px;
        div.logo
        {
            float: left;
            // margin-left: 25px;
        }

        nav
        {
            // float: left;
            // margin: 20px 0 0 0;
            font-family: "citroenlight";
            font-size: 20px;
            text-transform: uppercase;
            text-align: center;
            padding-top: 22px;

            ul
            {
                li
                {
                    display: inline-block;
                    margin: 0 21px;
                    position: relative;
                    height: 64px;
                    text-align: center;
                    cursor: pointer;

                    // &:first-child
                    // {
                    //     padding-left: 0px;
                    // }
                    // &:last-child
                    // {
                    //     padding-right: 0;
                    // }

                    div.image
                    {
                        height: 25px;
                    }
                    span
                    {
                        display: block;
                        margin-top: 5px;
                    }

                    ul
                    {
                        display: none;
                    }
                    ul.active
                    {
                        display: block;
                        position: absolute;
                        float: left;
                        top:64px;
                        background:white;
                        @include box-shadow(#e6e6e6 3px 3px 6px);
                        z-index: 2000;
                        font-size: 15px;
                        padding: 13px 28px;

                        li
                        {
                            text-align: left;
                            display: inline-block;
                            margin:0;
                            padding: 5px 0;
                            line-height: 20px;
                            height: auto;
                            width: 334px;
                            color:$first-color;

                            &:hover
                            {
                                color: $first_color_hover;
                            }

                            &:last-child
                            {
                                border-bottom: none;
                            }
                        }
                    }
                    &:hover, &:active
                    {
                        color: $first_color_hover;

                        .hover-border
                        {
                            display: inline-block;
                            width: 100%;
                            height: 3px;
                            background:$first_color_hover;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                        }

                        // ul
                        // {
                        //     display: block;
                        //     position: absolute;
                        // }
                    }
                }
            }
        }

        div.search
        {
            float: right;
            width: 150px;
            height: 27px;
            overflow: hidden;
            position: relative;
            margin-top: 50px;
            color: $first-color;
            font-family: "citroenlight";
            font-size: 20px;

                    border-bottom: 1px solid black;
            form
            {
                input
                {
                    border:none;
                    outline: none;
                    background:transparent;
                    width: 125px;
                    height: 27px;
                }
                button
                {
                    border:none;
                    outline: none;
                    background:url(../img/btn-search.png) no-repeat;
                    width: 14px;
                    height: 14px;
                    padding-top: 12px;
                }
            }
        }
    }
}


footer
{
    min-height: 500px;
    background: $footer_bg;
    padding-top: 42px;
    text-transform: uppercase;
    margin-top: 40px;

    .wrapper
    {
        width: 922px;
        position: relative;

        h3
        {
            position: relative;
            letter-spacing: 3px;

            &:before
            {
                margin-top: 20px;
            }
        }


        ul
        {
            margin-top: 30px;
            // margin-left: 15px;

            li
            {
                font-family: "citroenlight";
                font-size: 17px;
                list-style: none;
                color:#302b28;
                width: 400px;
                border-bottom: 1px solid #f0f0f0;

                a
                {
                    padding: 19px 0 19px 15px;
                    display: inline-block;
                    width: 100%;
                    height: 100%;

                    &:before
                    {
                        content: url(../img/footer-li.png);
                        margin-right: 20px;
                    }

                    &:hover
                    {
                        background:#ececec;
                    }
                }
            }
        }

        .left
        {
            float: left;
        }
        .right
        {
            float: right;
        }
    }

    a.btn
    {
        font-family: "citroenregular";
        font-size: 15px;
        line-height: 15px;
        padding: 10px 25px;
        margin-top: 24px;
        text-transform: initial;
        @include border-radius(3px);
        
        &:hover, &:active
        {
            background:$first-color - 50;
        }
    }

    #sub-footer
    {
        background:#ebebeb;
        height: 37px;
        margin-top: 70px;

        .wrapper
        {
            text-align: center;
            ul
            {
                li
                {
                        border: none;
                        display: inline-block;
                        width: auto;
                    a
                    {
                        font-family: arial;
                        font-size: 11px;
                        line-height: 11px;
                        color: #ababab;
                        display: inline-block;
                        border:none;
                        margin:0;
                        padding:0;
                        list-style: none;
                        margin-top: 14px;
                        width: auto;
                        width: initial;
                        text-transform: initial;
                        &:before
                        {
                            content:"";
                            margin:0;
                        }

                        &:first-child
                        {
                            &:before
                            {
                                content:"";
                                margin:0;
                            }
                        }
                    }

                    &:before
                    {
                        content:"-";
                        margin:0 4px 0 0px;
                        color: #ababab;
                    }

                    &:first-child
                    {
                        &:before
                        {
                            content:"";
                            margin:0;
                        }
                    }
                }
            }
        }
    }

}
.up-btn
{
    position: absolute;
    width: 65px;
    height: 65px;
    background:url(../img/up-btn.png) no-repeat;
    right: -174px;
    bottom: 0;
    cursor: pointer;
    display: none;
}
