@import "../vars/vars";
@import "compass";
// @import "compass/reset";
@import "normalize";
@import "susy";
@import "breakpoint";



/********************************* FONTS *************************************************/

@include font-face("citroenlight", font-files("citroen_light-webfont.eot", "citroen_light-webfont.woff", "citroen_light-webfont.ttf", "citroen_light-webfont.svg" ));
@include font-face("citroenlight_italic", font-files("citroen_light_italic-webfont.eot", "citroen_light_italic-webfont.woff", "citroen_light_italic-webfont.ttf", "citroen_light_italic-webfont.svg" ));
@include font-face("citroenbold_italic", font-files("citroen_bold_italic-webfont.eot", "citroen_bold_italic-webfont.woff", "citroen_bold_italic-webfont.ttf", "citroen_bold_italic-webfont.svg" ));
@include font-face("citroenbold", font-files("citroen_bold-webfont.eot", "citroen_bold-webfont.woff", "citroen_bold-webfont.ttf", "citroen_bold-webfont.svg" ));
@include font-face("citroenitalic", font-files("citroen_italic-webfont.eot", "citroen_italic-webfont.woff", "citroen_italic-webfont.ttf", "citroen_italic-webfont.svg" ));
@include font-face("citroenregular", font-files("citroen_regular-webfont.eot", "citroen_regular-webfont.woff", "citroen_regular-webfont.ttf", "citroen_regular-webfont.svg" ));


/*********************************End  FONTS *************************************************/

body
{
    color: $first-color;
}

.clear
{
    clear: both;
}

a
{
    text-decoration: none;
    color:inherit;
}

.wrapper
{
    max-width: $xl-screen;
    margin: 0 auto;
    // background:rgba(255,0,0,0.1);
}

.btn
{
    display: inline-block;
    background:$first-color;
    color: white;

    @include border-radius(4px);
}

header, div,nav,ul,li,footer
{
    margin:0;
    padding:0;
}



#pre-header
{
    min-height: 32px;
    #accnt
    {
        float: right;
        background:rgba(0, 0, 0, 0.3);
        min-height: 34px;
        width: 190px;
        position: relative;
        cursor: pointer;

        i
        {
            display: inline-block;
            margin: 5px 10px 0px;
            width: 22px;
            height: 19px;
            background:url(../img/accnt-ico.png) no-repeat;
            float: left;
        }
        span
        {
            display: inline-block;
            line-height: 30px;
            width: 148px;
            float: right;
            // word-wrap:d
        }

        .accnt-option
        {
            position: absolute;
            display: none;
            margin-top: 4px;
            background:red;

            ul
            {
                margin:0;
                padding: 0;
                background:$first-color - 30;

                li
                {
                    margin:0;
                    padding:0;
                    line-height: 22px;

                    i.my-accnt
                    {
                        background:url(../img/my-accnt.png) no-repeat;
                    }

                    i.disconnect
                    {
                        background:url(../img/disconnect.png) no-repeat;
                    }
                }
            }
        }
    }


    background:$first-color;
    color: white;
    text-transform: uppercase;
    font-family: "citroenlight";
    font-size: 12px;
    font-weight: 400;
    ul
    {
        margin:0;
        padding: 0;
        li
        {
            list-style: none;
            display: inline-block;
            padding: 10px 0;
            margin-left: 16px;

            &:first-child
            {
                margin-left: 25px;
            }
        }
    }
}

header
{
    margin-top: 10px;
    .wrapper
    {
        max-width: 940px;
        div.logo
        {
            float: left;
        }

        nav
        {
            float: left;
            margin: 20px 0px 0 80px;
            font-family: "citroenlight";
            font-size: 20px;
            text-transform: uppercase;

            ul
            {
                li
                {
                    display: inline-block;
                    padding: 0 21px;
                    position: relative;
                    height: 56px;
                    text-align: center;
                    cursor: pointer;

                    &:first-child
                    {
                        padding-left: 0px;
                    }
                    &:last-child
                    {
                        padding-right: 0;
                    }
                    img
                    {

                        position: inline-block;
                    }
                    span
                    {
                        display: block;
                        margin-top: 5px;
                    }
                }
            }
        }

        div.search
        {
            float: right;
            width: 150px;
            height: 27px;
            overflow: hidden;
            position: relative;
            margin-top: 50px;
            color: $first-color;
            font-family: "citroenlight";
            font-size: 20px;

                    border-bottom: 1px solid black;
            form
            {
                input
                {
                    border:none;
                    outline: none;
                    background:transparent;
                    width: 125px;
                    height: 27px;
                }
                button
                {
                    border:none;
                    outline: none;
                    background:url(../img/btn-search.png) no-repeat;
                    width: 14px;
                    height: 14px;
                    padding-top: 12px;
                }
            }
        }
    }
}


footer
{
    min-height: 500px;
    background: $footer_bg;
    padding-top: 50px;
    text-transform: uppercase;

    .wrapper
    {
        width: 915px;
        position: relative;

        h3
        {
            font-family: "citroenbold";
            font-size: 22px;
            font-weight: 200;
            margin:0;
            position: relative;
            letter-spacing: 3px;

            &:before
            {
                content: url('../img/h3-bg.png');
                position: absolute;
                margin-top: 20px;
            }
        }

        ul
        {
            margin-top: 30px;
            // margin-left: 15px;

            li
            {
                font-family: "citroenlight";
                font-size: 17px;
                list-style: none;
                color:#302b28;
                width: 420px;
                line-height: 17px;
                // list-style-image: url(../img/footer-li.png);
                border-bottom: 1px solid #f0f0f0;
                padding: 20px 0 20px 15px;

                &:before
                {
                    content: url(../img/footer-li.png);
                    margin-right: 20px;
                }
            }
        }

        .left
        {
            float: left;
        }
        .right
        {
            float: right;
        }
    }

    a.btn
    {
        font-family: "citroenregular";
        font-size: 15px;
        line-height: 15px;
        padding: 10px 25px;
        margin-top: 30px;
        text-transform: initial;
    }

    #sub-footer
    {
        background:#ebebeb;
        height: 37px;
        margin-top: 60px;

        .wrapper
        {
            text-align: center;
            ul
            {
                li
                {
                    font-family: arial;
                    font-size: 11px;
                    line-height: 11px;
                    color: #ababab;
                    display: inline-block;
                    border:none;
                    margin:0;
                    padding:0;
                    list-style: none;
                    margin-top: 14px;
                    width: auto;
                    width: initial;
                    text-transform: initial;

                    &:before
                    {
                        content:"-";
                        margin:0 4px 0 0px;
                    }

                    &:first-child
                    {
                        &:before
                        {
                            content:"";
                            margin:0;
                        }
                    }
                }
            }
        }
    }

}
.up-btn
{
    position: absolute;
    width: 65px;
    height: 65px;
    background:url(../img/up-btn.png) no-repeat;
    right: -165px;
    bottom: 50px;
    cursor: pointer;
    display: none;
}

main#home
{
    .wrapper
    {
        max-width: 900px;
    }
}