<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <title>02_home</title>
    <link rel="stylesheet" href="../css/style.css">

    <!-- Import jquery 2.1.1 in case there are some jQ code in the page which executes before doc.ready -->
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../js/dist/jquery.min.js"><\/script>')</script>
    </head>
</head>
<body>
    <div id="pre-header">
            <div class="wrapper">
                <div id="accnt">
                    <i></i>
                    <span>julie mouchon Rotrig...</span>
                    <div class="clear"></div>
                    <div class="accnt-option">
                        <ul>
                            <li><a href="#"><i class="my-accnt"></i>Mon Compte</a></li>
                            <li><a href="#"><i class="disconnect"></i>Deconnexion</a></li>
                        </ul>
                    </div>
                </div>
                <ul>
                    <li><a href="#">Liens utiles</a></li>
                    <li><a href="#">contacts utiles</a></li>
                    <li><a href="#">dernières publications</a></li>
                    <li><a href="#">incontournables</a></li>
                    <li><a href="#">mon rapport</a></li>
                    <li><a href="#">agenda</a></li>
                    <li><a href="#">crm manager</a></li>
                </ul>
            </div>

        <div class="clear"></div>
    </div><!-- end #pre-header -->

    <header>
        <div class="wrapper">
            <div class="logo">
                <a href="#">
                    <img src="../img/logo.png" alt="Logo">
                </a>
            </div>

            <div class="search">
                <form action="#">
                    <input type="text" placeholder="RECHERCHER">
                    <button type="submit"></button>
                </form>
            </div>

            <nav>
                <ul>
                    <li>
                        <div class="image">
                            <img src="../img/nav-presenter.png" alt="">
                        </div>
                        <span>présenter</span>

                        <ul>
                            <li><a href="#">Exposition véhicules - Hall</a></li>
                            <li><a href="#">Exposition véhicules - Extérieur et parc essais</a></li>
                            <li><a href="#">Exposition véhicules - Aire de livraison</a></li>
                            <li><a href="#">Hall - PLV</a></li>
                            <li><a href="#">Hall- Outils (Malle, Config, bornes prix…)</a></li>
                            <li><a href="#">Evénements (PO, Lancements produits…)</a></li>
                            <li><a href="#">Communication locale (Pub, MD, CRM Manager)</a></li>
                        </ul>
                        
                        <!-- Hover border effect -->
                        <span class="hover-border"></span>
                    </li>
                    <li>
                        <div class="image">
                            <img src="../img/nav-animer.png" alt="">
                        </div>
                        <span>animer</span>
                        <!-- Hover border effect -->
                        <span class="hover-border"></span>
                    </li>
                    <li>
                        <div class="image">
                            <img src="../img/nav-vendre.png" alt="">
                        </div>
                        <span>vendre</span>
                        <!-- Hover border effect -->
                        <span class="hover-border"></span>
                    </li>
                    <li>
                        <div class="image">
                            <img src="../img/nav-livrer.png" alt="">
                        </div>
                        <span>livrer</span>
                        <!-- Hover border effect -->
                        <span class="hover-border"></span>
                    </li>
                    <li>
                        <div class="image">
                            <img src="../img/nav-piloter.png" alt="">
                        </div>
                        <span>piloter</span>

                        <!-- Hover border effect -->
                        <span class="hover-border"></span>
                    </li>
                </ul>
            </nav>

        </div>
        <div class="clear"></div>
    </header>


    <main id="home">
        <div class="slider">
            <div class="wrapper">
                <div class="banner">
                    <ul>
                    <!-- The image can EITHER be in background set like this -->
                        <li style="background:url(../img/slider/1.png) no-repeat">
                            <h3>Simplydrive1</h3>
                            
                            <span>LA SOLUTION POUR CONDUIRE L’ESPRIT LIBRE</span>
                            
                            <a href="#" class="btn">En savoir plus</a>
                            <!-- <img src="../img/slider/1.png" /> -->
                        </li>

                        <!-- OR have the image like this. The difference is that in bg the image must be of width and height of the slider while in this one the image is set absolute to le li with position top:0 and right:0 -->
                        <li>
                            <h3>Simplydrive2</h3>
                            
                            <span>LA SOLUTION POUR CONDUIRE L’ESPRIT LIBRE</span>

                            
                            <a href="#" class="btn">En savoir plus</a>
                            <img src="../img/slider/3.png" alt="">
                        </li>
                        <li style="background:url(../img/slider/3.png) no-repeat">
                            <h3>Simplydrive3</h3>
                            
                            <span>LA SOLUTION POUR CONDUIRE L’ESPRIT LIBRE</span>
                            
                            <a href="#" class="btn">En savoir plus</a>
                            <!-- <img src="../img/slider/3.png" /> -->
                        </li>
                        <li style="background:url(../img/slider/4.png) no-repeat">
                            <h3>Simplydrive4</h3>
                            
                            <span>LA SOLUTION POUR CONDUIRE L’ESPRIT LIBRE</span>
                            
                            <a href="#" class="btn">En savoir plus</a>
                            <!-- <img src="../img/slider/4.png" /> -->
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div><!-- end banner -->
            </div>
        </div><!-- end .slider -->




        <!-- content -->

        <div class="content wrapper">
            <h2>Agenda</h2>
            
            <div class="left">
                
                <div class="left-content">
                    <div class="selectionne">
                        <div class="date">
                            <span class="day">13</span>
                            <span class="month">november</span>
                            <span class="year">2014</span>
                        </div>

                        <a href="#" class="agenda today btn">Afficher la date du jour</a>
                        <div class="clear"></div>
                    </div>
                    
                    <div class="clear"></div>
                    <div class="scrollable">
                        <form action="#">
                            <div class="section">
                                <h4>événements</h4>

                                <div class="element">
                                    <div class="elmt-img"><img src="../img/scrollable-first.png" alt=""></div>
                                    
                                    <span>PLV Installer dans le showroom</span>
                                    <div class="clear"></div>
                                </div>

                                <div class="element">
                                    <div class="elmt-img"><img src="../img/scrollable-second.png" alt=""></div>

                                    <span>Présenter la C3 Brésil </span>
                                    <div class="clear"></div>
                                </div>

                                <div class="element">
                                    <div class="elmt-img"><img src="../img/scrollable-third.png" alt=""></div>

                                    <span>Livrer la C3 Brésil </span>
                                    <div class="clear"></div>
                                </div>
                            </div><!-- end .evenements -->

                            <div class="section">
                                <h4>taches à réaliser</h4>
                                
                                <div class="element">
                                    <div class="elmt-img"><img src="../img/scrollable-fourth.png" alt=""></div>
                                    
                                    <input checked="checked" class="checkbox" id="checkbox_4" name="checkbox_4" type="checkbox" value="One">
                                    <label for="checkbox_4"></label>

                                    <span>PLV Installer dans le showroom</span>
                                    <div class="clear"></div>
                                </div>
                                
                                <div class="element">
                                    <div class="elmt-img"><img src="../img/scrollable-fourth.png" alt=""></div>
                                    
                                    <input class="checkbox" id="checkbox_5" name="checkbox_5" type="checkbox" value="One">
                                    <label for="checkbox_5"></label>

                                    <span>PLV Installer dans le showroom</span>
                                    <div class="clear"></div>
                                </div>
                                
                                <div class="element">
                                    <div class="elmt-img"><img src="../img/scrollable-fourth.png" alt=""></div>
                                    
                                    <input class="checkbox" id="checkbox_6" name="checkbox_6" type="checkbox" value="One">
                                    <label for="checkbox_6"></label>

                                    <span>PLV Installer dans le showroom</span>
                                    <div class="clear"></div>
                                </div>

                            </div>
                        </form>

                    </div><!-- end .scrollable -->
                </div><!-- end .left-content -->
                
                <!-- possibility to add class active to the 2 following links to keep the hover effect on  -->
                <a href="#" class="btn">Tâche en cours</a>
                
                <a href="#" class="btn"><span>+</span> Ajouter une tache</a>

            </div><!-- end .left -->

            <div class="right">
                <div class="cal">
                    <script type="text/template" id="template-calendar">
                        <div class="clndr-controls">
                            <div class='clndr-control-button'>
                                <span class='clndr-previous-button'><img src="../img/calendar-previous.png" alt=""></span>
                            </div>

                            <div class='month'>
                                <%= month %> <%= year %>
                            </div>

                            <div class='clndr-control-button rightalign'>   
                                <span class='clndr-next-button'><img src="../img/calendar-next.png" alt=""></span>
                            </div>
                        </div>

                        <table class='clndr-table' border='0' cellspacing='0' cellpadding='0'>
                            <thead>
                                <tr class='header-days'>
                                    <% for(var i = 0; i < daysOfTheWeek.length; i++) { %>
                                        <td class='header-day'><%= daysOfTheWeek[i] %></td>
                                    <% } %>
                                </tr>
                            </thead>

                            <tbody>
                                <% for(var i = 0; i < numberOfRows; i++){ %>
                                    <tr>
                                        <% for(var j = 0; j < 7; j++){ %>
                                            <% var d = j + i * 7; %>
                                            <td class='<%= days[d].classes %>'>
                                                <div class='day-contents'>
                                                    <%= days[d].day %>
                                                </div>
                                            </td>
                                        <% } %>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>

                        <div class="my-cal btn">
                            <a href="#">Mon calendrier</a>
                        </div>
                    </script>
                        <!-- <div class="clndr-today-button">Aujourd''hui</div> -->
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </main>

    <div class="home-prefooter">
        <div class="wrapper">
            <div class="left">
                <h3>incontournables</h3>

                <ul>
                    <li><a href="#">Lorem ipstum dolor Dol amet,adipscing. </a></li>
                    <li><a href="#">Lorem ipstum dolor Dol amet,adipscing. </a></li>
                    <li><a href="#">Lorem ipstum dolor Dol amet,adipscing. </a></li>
                    <li><a href="#">Lorem ipstum dolor Dol amet,adipscing. </a></li>
                    <li><a href="#">Lorem ipstum dolor Dol amet,adipscing. </a></li>
                </ul>

                <a href="#" class="btn">Tous mes incontournables</a>
            </div><!-- end left -->

            <div class="right">
                <h3>dernières publication</h3>

                <ul>
                    <li><a href="#">Lorem ipstum dolor Dol amet,adipscing. </a></li>
                    <li><a href="#">Lorem ipstum dolor Dol amet,adipscing. </a></li>
                    <li><a href="#">Lorem ipstum dolor Dol amet,adipscing. </a></li>
                    <li><a href="#">Lorem ipstum dolor Dol amet,adipscing. </a></li>
                    <li><a href="#">Lorem ipstum dolor Dol amet,adipscing. </a></li>
                </ul>

                <a href="#" class="btn">Toutes les publications</a>
            </div><!-- end right -->

            <!-- <div class="up-btn"></div> -->
            
            <div class="clear"></div>
        </div><!-- end wrapper -->
    
        <div class="up-btn-wrapper">
            
            <div class="up-btn"></div>
            
        </div>

        <div id="sub-footer">
            <div class="wrapper">
                <ul>
                    <li><a href="#">Mentions légales</a></li>
                    <li><a href="#">Crédits</a></li>
                    <li><a href="#">Suggestion</a></li>
                    <li><a href="#">Plan du site</a></li>
                </ul>
            </div>
        </div>

    </div>
    

    <!-- block js -->
    <script type="text/javascript" src="../js/libs/unslider/src/unslider.js"></script>
    <script type="text/javascript" src="../js/libs/moment/moment.js"></script>
    <script type="text/javascript" src="../js/libs/underscore/underscore.js"></script>
    <script type="text/javascript" src="../js/libs/clndr/src/clndr.js"></script>
    <script type="text/javascript" src="../js/libs/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="../js/libs/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
    <script type="text/javascript" src="../js/libs/Picker/jquery.fs.picker.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>

    <!-- <script src="../js/dist/min.js"></script> -->

</body>
</html>